name: Deploy mdBook to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install Mermaid CLI (mmdc)
        run: npm install -g @mermaid-js/mermaid-cli

      - name: Create images directory
        run: mkdir -p src/imgs

      - name: Compile Mermaid diagrams
        run: |
          for file in src/mermaid/*.mmd; do
            filename=$(basename -- "$file")
            filename_no_ext="${filename%.*}"
            
            mmdc -i "$file" -o "src/imgs/$filename_no_ext.png" -b transparent
            echo "Compiled $file to src/imgs/$filename_no_ext.png"
          done

      - name: Setup mdBook Environment
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal

      - name: Install mdBook
        run: |
          cargo install mdbook

      - name: Build mdBook
        run: mdbook build .

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./book
